.container-error {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
        width: 100%;
        h1 {
            font-size: 1em;
        }
    }

    .link {
        width: 100%;
    }
}

